.categoryButton1{
    background-color: rgb(231, 230, 230);
    border-radius: 14px;
    color: rgb(135, 134, 134);
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-left: 3px;
    font-size: medium;
    padding: 5px 20px;
    margin-top: 5px;
 }
 .categoryButton1:hover{
     background-color:rgb(212, 212, 212);
 }
 .blogs{
    margin: 4% 25px;
    position: sticky;
 }
 hr{
    width: 95%;
 }
 .subtitle1{
   padding-left: 4%;
 }
 .cat_name{
   padding-left: 4%;
 }

 /* @media only screen and (max-width: 500px){
   body .blogs{
       padding-left:4%;
   }
} */
